html, body{
   font-size: 16px; 
}

.banner {
    /* padding: 20px; */
    display: flex;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    flex-direction: row;
    align-items: center;
}

.bannerText {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .home {
    display: flex;
    flex-direction: column;
    height: 100%;
} */


#logoText {
    font-weight: bold;
}

#logoText-reddit {
    color: #D5C1B3;
}

.pageContent {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    /* flex-grow: 1; */
}

.posts {
    flex: 1;
    /* margin-left: 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: .25rem; */
}

.posts h1 {
    text-align: center;
}

.reddit-logo {
    color: #D5C1B3;
    font-size: 2rem;
}

.search {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure the container takes up the full height */
    flex: 1;
}


.subreddits {
    flex: 0;
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid #D5C1B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 0 1rem;
    max-height: fit-content;
}

/* .subreddits h1{
    text-align: center;
} */