html, body{
   font-size: 16px; 
}

.banner {
    display: flex;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    flex-direction: row;
    align-items: center;
}

.bannerText {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    width: 100%; /* Ensure it takes the full width of the parent */
 }


#logoText {
    font-weight: bold;
}

#logoText-reddit {
    color: #D5C1B3;
}

.pageContent {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
}

.posts {
    flex: 1;
}

.posts h1 {
    text-align: center;
}

.reddit-logo {
    color: #D5C1B3;
    font-size: 2rem;
}

.search {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure the container takes up the full height */
    flex: 1;
}


.subreddits {
    flex: 0;
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid #D5C1B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 0 1rem;
    max-height: fit-content;
}


/* Different screen sizes */

/* Cell phones */
@media (max-width: 540px) {
    .banner {
        flex-direction: column;
    }

    .bannerText {
        margin-left: 0;
        margin-top: 10px;
    }

    .pageContent {
        flex-direction: column-reverse;
    }

    .posts {
        max-width: 100%; /* Ensure it takes the full width of the parent */
        width: 100%; /* Prevent it from exceeding the parent's width */
    }

    .search {
        margin: 0.5rem 0;
    }

    .subreddits {
        margin-top: 10px;
    }
}

/* tablets */
@media (min-width: 541px) and (max-width: 1024px) {

    .bannerText {
        margin-top: 10px;
    }

    .posts {
        max-width: 100%; /* Ensure it takes the full width of the parent */
        width: 100%; /* Prevent it from exceeding the parent's width */
    }
}
