.downActive {
    color: #C4A397;
}

.downvote:hover {
    color: #C4A397;
}

.upActive {
    color: #A7A99E;
}


.upvote:hover {
    color: #A7A99E;
}

.vote-button {
    cursor: pointer;
    font-size: 1.5rem;
}

.vote-score {
    padding: 0.5rem 0;
    font-weight: bold;
}

.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}