.comment-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.comment-icon:hover {
    background-color: rgb(87, 87, 86, 0.2);
}

.post-container {
    display: flex;
    border: 1px solid #D5C1B3;
    border-radius: .25rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: rgb(255, 255, 255, 0.8);
    align-items: flex-start;
}

.post-comments {
    display: flex;
    align-items: center;
}

.post-content {
    padding: 0 1rem;
    flex-grow: 1;
}

.post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #928d84;
    font-weight: bold;
    font-style: italic;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-media {
    max-width: 100%;
    height: auto;
}

.post-subreddit {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    color: #A7A99E;
}

.post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}