h3:hover {
    color: #A7A99E;
    cursor: pointer;
}

.comment-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.comment-icon:hover {
    background-color: rgb(87, 87, 86, 0.2);
}

.post-container {
    display: flex;
    border: 1px solid #D5C1B3;
    max-width: 100%;
    border-radius: .25rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
}

.post-comments {
    display: flex;
    align-items: center;
}

.post-content {
    padding: 0 1rem;
    flex-grow: 1;
}

.post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #928d84;
    font-weight: bold;
    font-style: italic;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-media {
    max-width: 100%;
    height: auto;
}

.post-subreddit {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    color: #A7A99E;
    padding: 0.5rem;
}

.post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}



/* Different screen sizes */

/* Cell phones */
@media (max-width: 540px) {
  
    .post-content {
        max-width: 100%; /* Ensure it takes the full width of the parent */
        padding: 0; /* Remove padding for smaller screens */
    }
    
    .post-details {
        display: flex;
        max-width: 100%;
        flex-direction:row; /* Ensure row direction */
        justify-content: space-between; /* Space out items */
        align-items: flex-start; /* Center items vertically */
    }

    .post-author, .post-created, .post-comments {
        font-size: 0.5rem;
    }

    .post-header { 
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        flex-direction: column-reverse;
        margin-top: 0.5rem;
    }

    .comments-list.visible {
        width: 100%; /* Ensure it takes the full width of the parent */
        max-width: 100%; /* Prevent it from exceeding the parent's width */
        overflow-wrap: anywhere; /* Allow text to wrap */
    }

}

/* tablets */
@media (min-width: 541px) and (max-width: 1024px) {

    .post-content {
        max-width: 100%; /* Ensure it takes the full width of the parent */
        padding: 0; /* Remove padding for smaller screens */
    }
    
    .post-details {
        display: flex;
        max-width: 100%;
        flex-direction:row; /* Ensure row direction */
        justify-content: space-between; /* Space out items */
        align-items: flex-start; /* Center items vertically */
    }

    .post-author, .post-created, .post-comments {
        font-size: 0.5rem;
    }

    .post-header { 
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        flex-direction: column-reverse;
        margin-top: 0.5rem;
    }

    .comments-list.visible {
        width: 100%; /* Ensure it takes the full width of the parent */
        max-width: 100%; /* Prevent it from exceeding the parent's width */
        overflow-wrap: anywhere; /* Allow text to wrap */
    }
}