.App {
  background-color: rgba(167, 169, 158, 0.5); /* Corrected the rgba syntax */
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  display: flex; /* Use flexbox to manage layout */
}